a:not(#title), button {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.error {
  color: red;
}
.success {
  color: green;
}
.shadow {
  box-shadow: 1px 1px 3px grey;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.header {
  padding: 5px;
  width: 100vw;
  height: 65px;
  background: rgba(244,67,54,1);
  color: white;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  z-index: 1;
}
.header #title a {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.row {
  margin: 15px;
  padding: 5px;
  width: 80%;
  margin-bottom: 0;
}
.auth-box {
  margin-top: 0;
  border: 1px solid black;
}
#username {
  padding-right: 15px;
}
.route {
  font-size: 1.5em;
}
