a:not(#title), button {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.header {
  width: 100vw;
  /*height: 100px;*/
  background: darkgrey;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}
.header #title a {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.header div {
  padding: 5px;
  background: red;
}

.row {
  width: 100%;
}

.auth-box {
  width: 100%;
  border: 1px solid black;
}

#username {
  padding-right: 15px;
}
